<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>跟新数据</title>
</head>
<body>
<form action="/bookstore/update_book/{{ book.id }}" method="post">
    <p>
        title: <input type="text" value="{{ book.title }}" disabled="disabled">
    </p>
    <p>
        pub: <input type="text" value="{{ book.pub }}" disabled="disabled">
    </p>

    <p>
        price: <input name="price" type="text" value="{{ book.price }}">
    </p>
     <p>
        market_price: <input name="market_price" type="text" value="{{ book.market_price }}">
    </p>

    <p>
        <input type="submit" value="保存">
    </p>


</form>
</body>
</html>